body {
    width: 100%;
    margin: auto;
    font-size: 22px;
    color: #080808;
}

.main-head {
    background: linear-gradient( to top left , #F12323  , #7E3DC5 70%);
    position: absolute;
    margin-top: 0%;
}

.nav a{
    text-decoration: none;
    color: #080808;
    font-size: 110%;
    font-weight: 300;
}

.nav li{
    margin-top: 10px;
    float: right;
    list-style: none;
    margin-right: 60px;
}

.main-h1 {
    margin-top: 100px;
    text-align: center;
    font-weight: 500;
    border: 2px black solid;
    width: 40%;
    margin-left: 320px;
    border-radius: 10px;
}

.main-para {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

.main-section {
    margin-top: 240px;
    background-image: url("camera.jpg");
    height: 670px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    float: right;
    width: 25%;
    margin-top: 90px;
    margin-right: 77px;
    background: linear-gradient( to top left , #f12323dc  , #7f3dc5d7 70%);
    border: 3px solid #E15B1D;
    border-radius: 20px;
    text-align: center;
}

/*.other {
    color: rgb(34, 17, 17);
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
    margin-top: 40px;
}*/


.foot {
    background-color: #373534;
    margin-bottom: 0px;
    margin-top: 2px;
    color: rgb(209, 207, 207);
}

.foot h2 {
    font-size: 18px;
    display: inline;
    margin-left: 88px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

